<section class="section-ct footer">
  <div class="section footer">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <ul class="list-inline row text-center" style="padding-top: 30px" id="footer-social">
          <li class="col-xs-4 text-right">
            <a target="_blank" rel="noopener" href="https://www.facebook.com/averma1212">
              <i class="fa fa-facebook"></i>
              <span style="padding-left: 8px">Like Us</span>
            </a>
          </li>
          <li class="col-xs-4 text-center">
            <a target="_blank" rel="noopener" href="https://twitter.com/AvleenKaur16">
              <i class="fa fa-twitter"></i>
              <span style="padding-left: 8px">Follow Us</span>
            </a>
          </li>
          <li class="col-xs-4 text-left">
            <a target="_blank" rel="noopener" href="mailto:support@donorspace.com">
              <i class="fa fa-envelope-o"></i>
              <span style="padding-left: 8px">Email</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-center" id="footer-pages">
      <ul class="list-inline">
        <li><a href="https://blog.interviewbit.com" target="_blank">Blog</a></li>
        <li><a href="/pages/about_us/">About Us</a></li>
        <li><a href="/pages/faq/">FAQ</a></li>
        <li><a href="/pages/contact_us/">Contact Us</a></li>
        <li><a href="/pages/terms/">Terms</a></li>
        <li><a href="/pages/privacy/">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</section>