  <!--Reactive form 
  -more control over structure and behaviour of form-->

<form class="form" [formGroup]="reqForm">
  <!-- EMAIL -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('email').errors && (reqForm.get('email').touched || reqForm.get('email').dirty)}">
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email" class="form-control" placeholder="example@xyz.com">
  </div>
    
  <!-- PHONE NUMBER-->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('phoneNo').errors && (reqForm.get('phoneNo').touched || reqForm.get('phoneNo').dirty)}">
    <label for="phoneNo">Phone No.:</label>
    <input formControlName="phoneNo" id="phoneNo" type="number" class="form-control" placeholder="9876543210">
  </div>
  
  <!-- NAME -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('username').errors && (reqForm.get('username').touched || reqForm.get('username').dirty)}">
    <label for="username">Username:</label>
    <input formControlName="username" id="username" type="text" class="form-control" placeholder="John">
  </div>
  
  <!-- BLOOD GROUP -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('bloodGroup').errors && (reqForm.get('bloodGroup').touched || reqForm.get('bloodGroup').dirty)}">
    <!--make it drop down-->
    <label for="bloodGroup">Blood Group:</label>
    <input formControlName="bloodGroup" id="bloodGroup" type="text" class="form-control" placeholder="B+">
  </div>

  <!-- ADDRESS FIELDS -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('address').errors && (reqForm.get('address').touched || reqForm.get('address').dirty)}">
    <label for="address">Address:</label>
    <input formControlName="address" id="address" type="text" class="form-control" placeholder="house address/flat address">
  </div>

  <!-- DISTRICT -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('district').errors && (reqForm.get('district').touched || reqForm.get('district').dirty)}">
    <label for="city">District:</label>
    <input formControlName="district" id="district" type="text" class="form-control" placeholder="district name">
  </div>
  
  <!-- PINCODE -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': reqForm.get('pin').errors && (reqForm.get('pin').touched || reqForm.get('pin').dirty)}">
    <label for="pincode">Pincode:</label>
    <input formControlName="pin" id="pincode" type="text" class="form-control" placeholder="1000000">
  </div>
  
  <!-- SUBMIT BUTTON -->
  <div class="submitButton">
    <button class="btn btn-primary">Submit Request</button>
  </div>

</form>