<form class="form" [formGroup]="regForm" name="regForm" action=""
(ngSubmit)="onSubmit()">
  <!-- EMAIL -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('email').errors && (regForm.get('email').touched || regForm.get('email').dirty)}">
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email" class="form-control" placeholder="example@xyz.com">
  </div>
    
  <!-- PHONE NUMBER-->
  <div class="form-group" class="col-lg-5" [ngClass]="{'alert alert-danger': regForm.get('phoneNo').errors && (regForm.get('phoneNo').touched || regForm.get('phoneNo').dirty)}">
    <label for="phoneNo">Phone No.:</label>
    <input formControlName="phoneNo" id="phoneNo" type="text" class="form-control" placeholder="9876543210">
  </div>

  <!-- NAME -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('username').errors && (regForm.get('username').touched || regForm.get('username').dirty)}">
    <label for="username">username:</label>
    <input formControlName="username" id="username" type="text" class="form-control" placeholder="John">
  </div>

  <!-- AGE -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('dob').errors && (regForm.get('dob').touched || regForm.get('dob').dirty)}">
    <label for="age">Date of Birth:</label>
    <input formControlName="dob" id="dob" type="date" class="form-control">
  </div>
   
  <!-- BLOOD GROUP -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('bloodGroup').errors && (regForm.get('bloodGroup').touched || regForm.get('bloodGroup').dirty)}">
    <!--make it drop down-->
    <br>
    <label for="bloodGroup">Blood Group:&nbsp;</label>
    
    <input formControlName="bloodGroup" id="bloodGroup" type="text" class="form-control" placeholder="B+">
    <!--
    <select fromControlName="bloodGroup">
      <option *ngFor="let grp of bloodGroupList" id="bloodGroup" class="form-control">{{grp}}</option>
    </select>
    -->
  </div>

  <!-- ADDRESS -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('address').errors && (regForm.get('address').touched || regForm.get('address').dirty)}">
    <label for="address">Address:</label>
    <input formControlName="address" id="address" type="text" class="form-control" placeholder="house address/flat address">
  </div>

  <!-- DISTRICT -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('district').errors && (regForm.get('district').touched || regForm.get('district').dirty)}">
    <label for="city">District:</label>
    <input formControlName="district" id="district" type="text" class="form-control" placeholder="district name">
  </div>

  <!-- PINCODE -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('pin').errors && (regForm.get('pin').touched || regForm.get('pin').dirty)}">
    <label for="pincode">Pincode:</label>
    <input formControlName="pin" id="pincode" type="text" class="form-control" placeholder="100000">
  </div>

  <!-- SUBMIT BUTTON -->
  <div class="submitButton">
    <button type="submit" class="btn btn-primary" id="submitBtn" [disabled]="regForm.invalid">Submit</button>
  </div>

</form>