  <!--Reactive form 
  -more control over structure and behaviour of form-->
  
<form class="form" [formGroup]="regForm">
  <!-- EMAIL -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('email').errors && (regForm.get('email').touched || regForm.get('email').dirty)}">
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email" class="form-control" placeholder="example@xyz.com">
  </div>
    
  <!-- PHONE NUMBER-->
  <div class="form-group" class="col-lg-5" [ngClass]="{'alert alert-danger': regForm.get('phoneNo').errors && (regForm.get('phoneNo').touched || regForm.get('phoneNo').dirty)}">
    <label for="phoneNo">Phone No.:</label>
    <input formControlName="phoneNo" id="phoneNo" type="text" class="form-control" placeholder="9876543210">
  </div>

  <!-- NAME -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('username').errors && (regForm.get('username').touched || regForm.get('username').dirty)}">
    <label for="username">username:</label>
    <input formControlName="username" id="username" type="text" class="form-control" placeholder="John">
  </div>

  <!-- AGE -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('age').errors && (regForm.get('age').touched || regForm.get('age').dirty)}">
    <label for="age">Age:</label>
    <input formControlName="age" id="age" type="text" class="form-control" placeholder="18">
  </div>
   
  <!-- BLOOD GROUP -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('bloodGroup').errors && (regForm.get('bloodGroup').touched || regForm.get('bloodGroup').dirty)}">
    <!--make it drop down-->
    <label for="bloodGroup">Blood Group:</label>
    <input formControlName="bloodGroup" id="bloodGroup" type="text" class="form-control" placeholder="B+">
  </div>

  <!-- ADDRESS -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('address').errors && (regForm.get('address').touched || regForm.get('address').dirty)}">
    <label for="address">Address:</label>
    <input formControlName="address" id="address" type="text" class="form-control" placeholder="house address/flat address">
  </div>

  <!-- DISTRICT -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('district').errors && (regForm.get('district').touched || regForm.get('district').dirty)}">
    <label for="city">District:</label>
    <input formControlName="district" id="district" type="text" class="form-control" placeholder="district name">
  </div>

  <!-- PINCODE -->
  <div class="form-group" class="col-lg-4" [ngClass]="{'alert alert-danger': regForm.get('pin').errors && (regForm.get('pin').touched || regForm.get('pin').dirty)}">
    <label for="pincode">Pincode:</label>
    <input formControlName="pin" id="pincode" type="text" class="form-control" placeholder="100000">
  </div>

  <!-- SUBMIT BUTTON -->
  <div class="submitButton">
    <button class="btn btn-primary">Submit</button>
  </div>

</form>
  