<!-- The Modal -->
<div id="regModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/registeration-form" allowfullscreen></iframe>
              </div>
  </div>

</div>
<div id="reqModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
              <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="/request" allowfullscreen></iframe>
                    </div>
        </div>
      
      </div>

<nav class="navbar navbar-inverse mit-header navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding:20px 10px;">
                <!--<img style="height:25px;" alt="InterviewBit logo" src="https://assets.interviewbit.com/assets/ib_logo_svg-c7ed205b9475b598a9f652d7045054fa26b491fa95cf098569fa41ee0ac34259.svg.gz">-->
                DONORSPACE
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <div class="nav navbar-nav hidden-xs hidden-sm hidden-md">
            </div>
            <ul class="nav navbar-nav navbar-right" id="welcome-page-nav">
                <li>
                    
                        <button type="button" class="btn" id="reqBtn" style="color:white;background-color: #63b1c6;border-color: #63b1c6;">Request</button>
                </li>
                <li>
                    <button type="button" class="btn" id="regBtn" style="color:white;background-color: #63b1c6;border-color: #63b1c6;">Register</button>
                </li>
            </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
</nav>
