element.style {
    height: 1px;
}
@media (max-width: 767px){
.navbar-inverse .navbar-collapse {
    border-color: #fff;
    background-color: #fff;
}
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}
.collapse {
    display: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
.mit-header {
    height: 60px;
    min-height: 60px;
    border: 0;
    color: rgba(0,0,0,.7);
    background: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
.navbar-collapse:after, .navbar-collapse:before {
    content: " ";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-collapse:after, .navbar-collapse:before {
    content: " ";
    display: table;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dropdown-menu>li>a, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

body, button, html, input, select, textarea {
    font-family: 'Freight Sans';
}

.navbar {
    margin-bottom: 0;
}
.navbar-inverse {
    background-color: rgb(214, 214, 214);
    border-color: #090909;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}
#welcome-page-nav {
  margin-top: 9px;
}
#welcome-page-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
}
#welcome-page-nav > li > a:hover {
  color:#69c8c9;
}
#welcome-page-nav > li {
  padding:0px 5px;
}
#welcome-page-nav > li > a.sign-in-link {
  border:solid thin;
  border-radius:5px;
  padding: 6px 15px;
  margin-top: 3px;
}
#welcome-page-nav > li > a.sign-in-link:hover {
  border-color: #63b1c6;
  color: rgba(0, 0, 0, 0.7);
}
#aboutUs {
    padding: 156px 0 165px;
}
.heading {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1em;
    color: #000;
}
.section-grid {
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
}
.left {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.right {
    align-content: center;
    padding-right: 10%;
}
.section {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1px 0;
}
* {
    outline: 0;
}
body {
    background: #fff;
    color: #606060;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    position: relative;
    z-index: 0;
}
html {
    background: #fff;
    color: #000;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
@media only screen and (max-width: 500px) {
    #welcome-page-nav > li.looking-to-hire {
      border-left: none !important;
  
    }
    ul#welcome-page-nav{
      text-align:center;
    }
    ul#welcome-page-nav > li{
      display: inline-block;
    }
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
body, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}
.popover, .tooltip, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar:after, .navbar:before {
    content: " ";
    display: table;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 5%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}